<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    <ul>
        {{#each products}}
            <li>{{nombre}} - Cantidad: {{quantity}}</li>
        {{/each}}
    </ul>
</body>
</html>
