<div>
    <h1>Lista de productos hndlebars</h1>
    <div>
        <div>
            {{#each products}}
            <div>
                <h2>{{this.descripcion}}</h2>
                <p>Precio: ${{this.precio}}</p>
                <a href="/api/products/{{this.cid}}">Ver Detalle</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
